langchain==0.3.11
langchain-community==0.3.11
langchain-core==0.3.24
langchain-neo4j==0.1.1
langchain-openai==0.2.12
langchain-postgres==0.0.12
langchain-text-splitters==0.3.2
langchainhub==0.1.21
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.45
langsmith==0.1.138
llmwhisperer-client==0.2.0
pycparser==2.22
pydantic==2.7.4
pydantic-settings==2.6.1
pydantic_core==2.18.4
python-dotenv==1.0.1
Flask==2.1.2
Werkzeug==2.2.3
colorama==0.4.6
psycopg2-binary
sqlalchemy
duckduckgo-search
greenlet
pgvector
fastapi
uvicorn
streamlit
torch
azure-core
azure-ai-formrecognizer
redis
celery
pdf2image
importlib
jsonify
flask-cors